<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title | Dashboard</title>


    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link href="~/Admin_Assets/css/all.min.css" rel="stylesheet" />
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bootstrap 4 -->

    <link href="~/Admin_Assets/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />
    <!-- iCheck -->

    <link href="~/Admin_Assets/css/icheck-bootstrap.min.css" rel="stylesheet" />
    <!-- JQVMap -->

    <link href="~/Admin_Assets/css/jqvmap.min.css" rel="stylesheet" />
    <!-- Theme style -->
    <link href="~/Admin_Assets/css/adminlte.min.css" rel="stylesheet" />
    <!-- overlayScrollbars -->
    <link href="~/Admin_Assets/css/OverlayScrollbars.min.css" rel="stylesheet" />
    <!-- Daterange picker -->
    <link href="~/Admin_Assets/css/daterangepicker.css" rel="stylesheet" />
    <!-- summernote -->
    <link href="~/Admin_Assets/css/summernote-bs4.min.css" rel="stylesheet" />
    @* ChartJS Framework *@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.2/Chart.bundle.min.js"></script>
</head>
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
            </ul>
            <div style="display: flex; position: absolute;right: 5%">
                <ul class="nav navbar-nav" style="display: flex; align-items: center;">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>@User.Identity.Name</li>
                        <li>@Html.ActionLink("Logout", "Logout", "Accounts")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Login", "Login", "Accounts")</li>
                    }
                </ul>
            </div>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="~/Admin_Assets/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
                    </div>
                    <div class="info">
                        <a href="#" class="d-block">Alexander Pierce</a>
                    </div>
                </div>

                <!-- SidebarSearch Form -->
                <div class="form-inline">
                    <div class="input-group" data-widget="sidebar-search">
                        <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                        <div class="input-group-append">
                            <button class="btn btn-sidebar">
                                <i class="fas fa-search fa-fw"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <!-- Sidebar Menu -->
                <nav class="mt-3">

                    @{
                        string controller = ViewContext.RouteData.Values["controller"] as string;
                        string action = ViewContext.RouteData.Values["action"] as string;
                    }

                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                        <li class="nav-item">
                            <a href="@Url.Action("Index", "User")" class="nav-link @(controller == "User" && action == "Index" ? "active" : "")">
                                <i class="nav-icon fas fa-user"></i>
                                <p>Quản lý người dùng</p>
                            </a>
                        </li>


                        <li class="nav-item">
                            <a href="@Url.Action("Index", "Categories")" class="nav-link @(controller == "Categories" && action == "Index" ? "active" : "")">
                                <i class="nav-icon fas fa-edit"></i>
                                <p>Quản lý loại sản phẩm</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="@Url.Action("Index", "Products")" class="nav-link @(controller == "Products" && action == "Index" ? "active" : "")">
                                <i class="nav-icon fas fa-book"></i>
                                <p>Quản lý sản phẩm</p>
                            </a>
                        </li>


                        <li class="nav-item">
                            <a href="@Url.Action("Index", "Orders")" class="nav-link @(controller == "Orders" && action == "Index" ? "active" : "")">
                                <i class="nav-icon fas fa-th"></i>
                                <p>Quản lý đơn hàng</p>
                            </a>
                        </li>


                        <li class="nav-item">
                            <a href="@Url.Action("Index", "RoleMasters")" class="nav-link @(controller == "RoleMasters" && action == "Index" ? "active" : "")">
                                <i class="nav-icon fas fa-th"></i>
                                <p>Quản lý quyền</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="@Url.Action("Index", "UserRolesMappings")" class="nav-link @(controller == "UserRolesMappings" && action == "Index" ? "active" : "")">
                                <i class="nav-icon fas fa-th"></i>
                                <p>Phân quyền người dùng</p>
                            </a>
                        </li>

                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>
        <!-- Main Sidebar Container -->
    </div>



    <div class="content-wrapper" style="min-height: 810px;">
        @RenderBody()
    </div>

    <script src="https://kit.fontawesome.com/1f090d64ba.js" crossorigin="anonymous"></script>
    
</body>
</html>
